.u-section-1 .u-sheet-1 {
  min-height: 1116px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 40px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 832px;
  grid-gap: 38px;
}

.u-section-1 .u-list-item-1 {
  --radius: 50px;
  box-shadow: 5px 5px 0px 0px rgba(15,145,148,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 0 0 auto;
}

.u-section-1 .u-group-elements-1 {
  width: 558px;
  min-height: 24px;
  height: auto;
  margin: 17px 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 0 477px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -24px 292px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -24px 0 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 22px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  margin: -13px 1215px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -9px 1px 0 auto;
}

.u-section-1 .u-text-7 {
  font-family: Tajawal;
  margin: 18px 0 0 auto;
}

.u-section-1 .u-list-item-2 {
  --radius: 50px;
  box-shadow: 5px 5px 0px 0px rgba(15,145,148,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-1 .u-text-8 {
  margin: 0 0 0 auto;
}

.u-section-1 .u-group-elements-2 {
  width: 558px;
  min-height: 24px;
  height: auto;
  margin: 17px 0 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: -24px auto 0 183px;
}

.u-section-1 .u-text-11 {
  margin: -24px 0 0 auto;
}

.u-section-1 .u-text-12 {
  margin: 22px 0 0 auto;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  margin: -13px 1215px 0 auto;
}

.u-section-1 .u-text-13 {
  margin: -9px 1px 0 auto;
}

.u-section-1 .u-text-14 {
  font-family: Tajawal;
  margin: 18px 0 0 auto;
}

.u-section-1 .u-list-item-3 {
  --radius: 50px;
  box-shadow: 5px 5px 0px 0px rgba(15,145,148,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-3 {
  padding: 9px 30px;
}

.u-section-1 .u-text-15 {
  margin: 0 0 0 auto;
}

.u-section-1 .u-group-elements-3 {
  width: 558px;
  min-height: 24px;
  height: auto;
  margin: 17px 0 0 auto;
}

.u-section-1 .u-text-16 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-17 {
  margin: -24px auto 0 183px;
}

.u-section-1 .u-text-18 {
  margin: -24px 0 0 auto;
}

.u-section-1 .u-text-19 {
  margin: 22px 0 0 auto;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  margin: -13px 1215px 0 auto;
}

.u-section-1 .u-text-20 {
  margin: -9px 1px 0 auto;
}

.u-section-1 .u-text-21 {
  font-family: Tajawal;
  margin: 18px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1443px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 893px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: auto;
    margin-left: 779px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: auto;
    margin-left: 387px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 582px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-right: 794px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -32px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 19px;
    margin-right: auto;
    margin-left: 779px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: auto;
    margin-left: 387px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 582px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-right: 812px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -32px;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 19px;
    margin-right: auto;
    margin-left: 779px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: auto;
    margin-left: 387px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 582px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
    margin-right: 812px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -32px;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 993px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-left: 246px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -7px;
    margin-right: 543px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 29px;
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 477px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 292px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
    margin-left: 246px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -7px;
    margin-right: 543px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 29px;
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: 477px;
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    margin-right: 292px;
    margin-left: auto;
  }

  .u-section-1 .u-text-19 {
    margin-top: 20px;
    margin-left: 246px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -7px;
    margin-right: 543px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 427px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 520px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 466px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 446px;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -31px;
    margin-right: 375px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 427px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 520px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 446px;
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 363px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 427px;
  }

  .u-section-1 .u-group-elements-3 {
    width: 520px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 446px;
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 363px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1477px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1377px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 5px 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 90px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -90px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 164px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 15px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 5px 30px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 90px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 32px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -90px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 164px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 15px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 5px 30px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-3 {
    min-height: 90px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 32px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: -90px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-right: 164px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 20px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 15px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.01) !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.01) !important;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.01) !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.01) !important;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.01) !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.01) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}